[user]
	email = settlermine@yandex.ru
    name = settlermine
[core]
    pager = delta # git-delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
